/v2/PCB/picopowered-backups/
/v2/PCB/~picopowered.kicad_pcb.lck
/v2/PCB/~picopowered.kicad_sch.lck
/v2/PCB/fp-info-cache
/v2/PCB/picopowered.kicad_prl
/v2/production/
/v1/PCB/picopowered-backups/
/v1/PCB/~picopowered.kicad_pcb.lck
/v1/PCB/~picopowered.kicad_sch.lck
/v1/PCB/fp-info-cache
/v1/PCB/picopowered.kicad_prl
/v1/production/

